<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Retoolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Retoolkit.Properties.Settings>
            <setting name="FormHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FormX" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FormY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DockLeft" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DockBottom" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DockRight" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="DockTop" serializeAs="String">
                <value>0.25</value>
            </setting>
        </Retoolkit.Properties.Settings>
    </userSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="references"/>
      </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
